@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.image {
	background-image: url("../images/background.png");
	height: 580px;
    width: 100%;
	background-size: 1200px 590px;
   z-index: -2;
   position:static;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.header {
	
	color: black;
	font-size: 20px;
	text-align: center;
  
	
}
button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  
  
  